<Files ~ "^\.ht">
    Require all denied
</Files>

<Files ~ "^ht\.">
    Require all denied
</Files>

<FilesMatch "\.(ico)$">
	Require all granted
</FilesMatch>

# Set main file as index
DirectoryIndex index.php

# Enable apache rewrite engine
RewriteEngine on

# Set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
# RewriteBase /

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !(\.ico)

# Push every request to index.php
# RewriteRule ^(.*)$ index.php [QSA]